.hero {
	position: relative;
	padding: 175px 0;
	min-height: 895px;
}

.hero-content {
	max-width: 440px;
}

.hero-heading {
	color: #01996d;
	font-family: 'Georgia', serif;
	font-weight: 700;
	font-size: 65px;
}

.hero-heading + * {
	margin-top: 30px;
}

.hero-text {
	color: #484848;
	line-height: 144.5%;
	max-width: 430px;
}

.hero-text + * {
	margin-top: 53px;
}

.hero-btn {
	display: flex;
}

.hero-bg-img {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(250, 241, 229);
}

.hero-bg-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 991px) {
	.hero {
		padding: 40px 0;
		min-height: unset;
	}
	.hero-heading {
		font-size: 45px;
		line-height: 1.2;
	}
	.hero-text + * {
		margin-top: 30px;
	}
	.hero-bg-img img {
		opacity: 0.3;
	}
}
